body{
    margin: 5px;
}
.hbar{
    width: 90%;
    height: 50px;
    border-radius: 10px;
    left: 5%;
    display: inline-block;
    background-color: gray;
    position: sticky;
}
.hbar .item{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    margin: 0 5px;
    text-align: center;
    vertical-align: middle;
}