.hud{
    position: fixed;
}
.hbox{
    display: inline-flex;
}
.card{
    display: flex;
    flex-direction: row;
}
@media (max-width: 600px) {
    .card {
      flex-direction: column;
    }
}
ul.card{

}
ul.card li{
    
}