body {
    margin: 0;
    font-size: 14pt;
}
.debug > * {
    outline: solid 1px red;
}
.card {
    display: flex;
    align-items: stretch;
}
.card img {
    width: 200px;
    border-radius: 12px;
}
#menubar {
    position: sticky;
    z-index: 1;
    padding: 5px;
    display: flex;
    justify-content: center;
    width: max-content;
    height: 40px;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    align-items: center;
    border-radius: 25px;
}
#menubar > nav > a {
    padding: 0 10px 0 0;
}
#menubar > nav > a > * {
    vertical-align: middle;
}
#menubar > nav > img {
    position: absolute;
}
#bottom {
    bottom: 0;
}
#content {
    position: relative;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    max-width: 1000px;
    min-height: 100%;
    padding: 15px;
    border-radius: 10px;
}
.flexspace {
    flex: 1;
}
p {
    text-indent: 2em;
    line-height: 1.5;
}
